*{
  font-family: Rubik, sans-serif;
  margin: 0;
  padding: 0;
}

html{
  /*position:absolute;*/
   width : 2761px;
  height : 2174.77px;
  top:0;
  left:0;
  overflow: auto;
}

body{
  position:absolute;
  /*width : 2761px;
  height : 2174.77px;
  top:0;
  left:0;*/
  background: url('../content/interface/Grid_Point.png');
  background-repeat: repeat;
}

section{
  /*z-index: 90;*/
  position: absolute;
  /*top:0;
  left:0;*/
  /*width:width;
  height:height;*/

  max-width : 900px;
  /*padding : 20px;*/
  -moz-box-shadow: 10px 10px 0px 0px #54CFB3;
  -webkit-box-shadow: 10px 10px 0px 0px #54CFB3;
  -o-box-shadow: 10px 10px 0px 0px #54CFB3;
  box-shadow: 10px 10px 0px 0px #54CFB3;
  transition: box-shadow 0.15s ease-in-out;
  /*  background:url("../content/img/Hope_Bike.jpg");
  background-size: cover;*/
}

footer{
  background-image: url('../content/interface/hover.png');
  background-size: cover;
  position: fixed;
  display: inline-block;
  top: 85%;
  width: 26%;
  height: 100px;
  left: 37%;
  z-index:200;
}

section:hover {
  -moz-box-shadow: 15px 15px 0px 0px #54CFB3;
  -webkit-box-shadow: 15px 15px 0px 0px #54CFB3;
  -o-box-shadow: 15px 15px 0px 0px #54CFB3;
  box-shadow: 15px 15px 0px 0px #54CFB3;
}

section aside {
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    right: 0;
    
  /*background:url("../content/img/1.jpg");
  background-size: cover;*/
}


h1{
  position: fixed;
  text-align : center;
  z-index: 100;
  display:inline-block;
  left: 50%;
  margin-top: 50px;
  margin-left: -216px;
  color: #54CFB3;

  padding: 2px 6px;
  background-color: white;
}

h2 {
  font-weight : 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  display:inline-block;
  pointer-events:none;
 color: white;
  background-color: black;
  padding: 2%;
  margin: 5%;
}

h3{
  font-weight : 700;
  text-transform: uppercase;
  text-decoration: underline;
  color: #54CFB3;
  
h5{
  font-weight : 500;
}
  
}

h4{
  font-weight : 700;
  font-size: 20px;
  display:inline-block;
  margin-left: 50px;
  margin-top: 50px;
  color: #54CFB3;
}

.header, .content{
  
  display:inline-block;
  pointer-events:none;
  /*position:absolute;*/
  top:0px;
  left:0px;
}

.header{
  max-width: 50%;
}

input:checked < body{
  margin-top: 10000px;
}

.box {
  position:target;
  margin: 0 auto;
  /*margin-top: 50px;*/
  margin-left: 0;
  /*min-width: 500px;*/
  background-color: #ffffff;
  transition: all .2s ease;
  /*padding-top: 70px;*/
}

.content > div{
  position:absolute;
}


.box:hover {
  margin-top: 5px;
  margin-left: 5px;
}

#solicitation1{
  position:absolute;
  width: 200px;
  height: 200px;
  left: 630.45px;
  top: 1546.53px;
  
}
  
#canape{
  position:absolute;
  border-style: dashed;
  border-color: #54CFB3;
  border-width: 5px;
  
  width: 745.9px;
  height: 578.6px;
  background-image: none;
  
}
  

#solicitation1 div{
  background-image: url("/content/solicitations/plan_fablab.png");

  /*position: absolute;*/
  width:733px;
  height:563px;
  
  /*left: 637.13px;
  top: 1182.23px;*/
}

#solicitation2{
  position:absolute;
  width: 200px;
  height: 200px;
  left: 5px;
  top: 1000.34px;
}

#solicitation2 span{
  font-weight : 700;
  font-size: 30px;
  text-transform: uppercase;
  display:inline-block;
  color: #54CFB3;
}

#solicitation2 div{
  background-color: white;
  width: 678.35px;
  height: 395px;
  border-style: dashed;
  border-color: #54CFB3;
  border-width: 5px;
}
  
#arduino{
  margin-left: 150px;
}

#sketchup{
  margin-left: 150px;
  margin-top: 150px;
}

  /*position: absolute;*/
  /*width:678.35px;
  height:395px;*/
  
  /*left: 637.13px;
  top: 1182.23px;*/

.opac {
  opacity: .8;
}

.move-cursor {
  cursor: grab;
}

.grab-cursor {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.container .content{
  position: absolute;
  display:none;
}

.container.active .content, .container .content p, .container .content div{
  display: inline-block;
  pointer-events:none;
}

span {
    /*font-weight: bold;*/
}

.marcheur{
  background-color: white;
  border:solid;
  border-width:thin;
  border-color:#E6E6E6;
}

#marcheur1{
  width:322px;
  height:195.33px;
}

#marcheur2{
  width:342px;
  height:222px;
}

#marcheur3{
  width:282px;
  height:195.33px;
}

#marcheur4{
  width:382px;
  height:288.67px;
}

#targetJoy{
  position: fixed;
  background-size: cover;
  background-opacity:0.5;
  /*background-color: #0ffa89;*/
  display: inline-block;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 20px;
  height: 20px;

  opacity: 0.3;
  z-index: 150;
}


